html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-content-zooming: none;
}
content {
	display: none;
}
scene {
	display: block;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
}
scene>.canvas {
	position: relative;
	height: 1px;
	width: 1px;
}
.thing, thing {
	position: absolute;
	bottom: 0;
}
scene .thing, scene thing {
	display: block;
}
scene>.thing {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-origin: left bottom;
	-webkit-transform-origin: left bottom;
}
scene.resizing>.thing {
	-webkit-transition-property: none;
	transition-property: none;
}
scene .thing.image {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
}
scene .static.imagebg {
	background-size: 100% 100%;
}
.thing.has-area>.click-area {
	position: absolute;
}
scene .thing.clickable,
.clickable:not(.has-area) img.image,
scene a.thing,
scene a.thing>img {
	pointer-events: all;
	cursor: pointer;
}
.no-events {
	pointer-events: none !important;
}
.preserve-3d {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.overlay {
	position: absolute;
}
.overlay>*{
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
	padding: 0;
}
