html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-content-zooming: none;
}
content {
	display: none;
}
scene {
	display: block;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
	-webkit-perspective-origin: 50% 50%;
	-webkit-perspective: 200px;
	perspective-origin: 50% 50%;
	perspective: 200px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
}
scene>.canvas {
	position: relative;
	height: 1px;
	width: 1px;
}
.dud,.static,thing {
	position: absolute;
	bottom: 0;
}
scene thing, scene .dud {
	display: block;
}
scene>thing,
scene>.dud,
scene>img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-origin: left bottom;
	-webkit-transform-origin: left bottom;
}
scene.resizing>thing,
scene.resizing>.dud,
scene.resizing>img {
	-webkit-transition-property: none;
	transition-property: none;
}
scene thing.clickable, scene .dud.clickable, scene a.dud, scene a.dud>img {
	pointer-events: all;
	cursor: pointer;
}
container {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
img.image {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
}
.static.imagebg {
	background-size: 100% 100%;
}
.clickable,
.clickable:not(.has-area) img.image {
	pointer-events: all;
}
.no-events {
	pointer-events: none !important;
}
.click {
	position: absolute;
}
.preserve-3d {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.overlay {
	position: absolute;
}
.overlay>*{
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
	padding: 0;
}
