html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-content-zooming: none;
}
content {
	display: none;
}
scene {
	display: block;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
	-webkit-perspective-origin: 50% 50%;
	-webkit-backface-visibility: hidden;
	perspective-origin: 50% 50%;
	backface-visibility: hidden;
	overflow: hidden;
}
scene>.canvas {
	position: relative;
	height: 1px;
	width: 1px;
}
.thing, thing {
	position: absolute;
	bottom: 0;
}
scene .thing, scene thing {
	display: block;
}
scene>.thing {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-origin: left bottom;
	-webkit-transform-origin: left bottom;
}
scene.resizing>.thing {
	-webkit-transition-property: none;
	transition-property: none;
}
scene .thing.image {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
}
scene .static.imagebg {
	background-size: 100% 100%;
}
.thing.has-area>.click-area {
	position: absolute;
}
scene thing.clickable,
.clickable:not(.has-area) img.image,
scene a.thing,
scene a.thing>img {
	pointer-events: all;
	cursor: pointer;
}
.no-events {
	pointer-events: none !important;
}
.preserve-3d {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.overlay {
	position: absolute;
}
.overlay>*{
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
	padding: 0;
}

/* Things.Cube */
scene .cube>.side.front { background-color: #bbb; }
scene .cube>.side { background-color: #aaa; }
scene .cube>.side.bottom { background-color: #999; }
scene .cube>.side.top { background-color: #ccc; }
scene .cube>.side {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
scene .cube>.side:not(.front) {
	-webkit-transform-origin: left top;
	-webkit-transform: rotateY(90deg);
	transform-origin: left top;
	transform: rotateY(90deg);
}
scene .cube>.side.bottom {
	bottom: 0;
	-webkit-transform-origin: center bottom;
	-webkit-transform: rotateZ(180deg) rotateX(90deg);
	transform-origin: center bottom;
	transform: rotateZ(180deg) rotateX(90deg);
}
scene .cube>.side.top {
	bottom: 100%;
	-webkit-transform-origin: left bottom;
	-webkit-transform: rotateX(90deg);
	transform-origin: left bottom;
	transform: rotateX(90deg);
}
scene .cube>.side.right { left: 100%; }
scene .cube>.side.left {
	-webkit-transform: rotateY(-90deg) translate3d(-100%,0,0);
	transform: rotateY(-90deg) translate3d(-100%,0,0);
}
scene .cube>.side.back {
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
